<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Admin</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">name: <%=@admin.name %></p>
    <p class="card-text">email: <%=@admin.email %></p>
    <p class="card-text">created at: <%=@admin.created_at %></p>
    <p class="card-text">updated at: <%=@admin.updated_at %></p>
    <%= link_to "back", products_path, class: "btn btn-primary" %>

  </div>
</div>